[user]
	email = jack@jsmunro.me
	name = Jack Munro
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGPlR0NU+KZGkUqxp6Xav2wHHTHTyPNONb+oRU9A9A8g 

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/mnt/c/Users/jackm/AppData/Local/Microsoft/WindowsApps/op-ssh-sign-wsl.exe"

[commit]
	gpgsign = true

[core]
	sshCommand = ssh.exe
  editor = nvim

[pull]
	rebase = true

[init]
	defaultBranch = main
[credential]
	helper = 
[push]
	autoSetupRemote = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[url "ssh://jackm@git.jsmunro.me:222/"]
	insteadOf = git@git.jsmunro.me:
[credential "https://git.jsmunro.me"]
	helper = store
